* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Navbar Start  */
.navbar {
  background: rgba(42, 42, 189, 0.911);
  height: 80px;
  max-width: 100%;
}
.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 30px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 6px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: rgba(241, 228, 228, 0.856);
  color: black;
  transition: 1s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#checkbox {
  display: none;
}
/* Navbar End  */

/* Section Start  */
section {
  background: url(./image/james-padolsey-tvPvROBv0F4-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.unorderList {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: transform(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.name {
  visibility: hidden;
}
.name2 {
  visibility: visible;
  color: orange;
  text-transform: uppercase;
}
section .paragraph1 {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 60px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}
section .paragraph2 {
  position: absolute;
  top: 65%;
  left: 25%;
  font-size: 60px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
}
.unorderList .list {
  font-size: 5em;
  letter-spacing: 20px;
  font-weight: bold;
  text-shadow: 8px 10px 20px white;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }
  10% {
    opacity: 1;
    color: blue;
  }
  50% {
    transform: translateX(10px);
    letter-spacing: -20px;
  }
  90% {
    letter-spacing: 20px;
    color: Yellow;
  }
  100% {
    transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
    color: white;
  }
}
.unorderList .list:nth-child(1) {
  animation-delay: 0s;
}
.unorderList .list:nth-child(2) {
  animation-delay: 0.2s;
}
.unorderList .list:nth-child(3) {
  animation-delay: 0.4s;
}
.unorderList .list:nth-child(4) {
  animation-delay: 0.6;
}
.unorderList .list:nth-child(5) {
  animation-delay: 0.8s;
}
.unorderList .list:nth-child(6) {
  animation-delay: 1s;
}
.unorderList .list:nth-child(8) {
  animation-delay: 1.2s;
}
.unorderList .list:nth-child(9) {
  animation-delay: 1.4s;
}
.unorderList .list:nth-child(10) {
  animation-delay: 1.6s;
}
.unorderList .list:nth-child(11) {
  animation-delay: 1.8s;
}

/* Home Section End  */

/* About Section Start  */
main {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}
.about {
  width: 1100px;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}
.header h1 {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.header p {
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.clear-div {
  clear: both;
}
.horigental {
  width: 900px;
  margin: 0 auto;
}
.design {
  color: orange;
}
.item {
  padding: 20px;
  max-width: 100%;
  display: inline-block;
}

.left {
  width: 500px;
  float: left;
}
.image {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 8px white;
}
.right {
  float: right;
  width: 550px;
  height: 400px;
  padding: 50px 10px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}
.first {
  width: 230px;
  float: left;
  margin: 0 20px;
}
.first p,
.secound p {
  margin-bottom: 25px;
}
.secound {
  width: 220px;
  float: left;
}
.button {
  font-size: 20px;
  padding: 6px 15px;
  margin: 5px 20px;
  border: none;
  background: orange;
  border-radius: 4px;
  transition: 1s;
}
.button:hover {
  background: rgb(124, 90, 90);
  color: white;
}
/* About Section End  */
/* Portfolio Section Start  */
/* Portfolio Section End  */

/* max-width: 952px */
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

/* max-width: 852px  */
@media (max-width: 852px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 80px;
    transition: all 0.3s;
    text-align: center;
    left: -100%;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 20px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #checkbox:checked ~ ul {
    left: 0;
  }
  /* section > p {
    visibility: hidden;
  } */
  section {
    z-index: 1;
  }
  section > .unorderList {
    display: none;
  }
  section .paragraph1 {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    color: unset;
    letter-spacing: 3px;
  }
  section .paragraph2 {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    color: black;
    letter-spacing: 4px;
  }
  section .name {
    visibility: visible;
    color: blue;
    text-transform: uppercase;
  }
  section .name2 {
    visibility: visible;
    color: blue;
    text-transform: uppercase;
  }
  .about {
    max-width: 100%;
    padding: 20px;
  }
  .header p {
    font-size: 15px;
    letter-spacing: 2px;
  }
  .horigental {
    max-width: 100%;
    margin: 0 auto;
  }
  .item {
    width: 100%;
    margin: 0 auto;
  }
  .left {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    float: none;
  }
  .image {
    border-radius: 10px;
    box-shadow: none;
  }
  .right {
    max-width: 100%;
    float: none;
    margin: 0 auto;
    padding: 10px;
  }
  .first {
    width: 230px;
    float: left;
    margin: 0 20px;
  }
  .first p,
  .secound p {
    margin-bottom: 10px;
  }
  .secound {
    width: 220px;
    float: left;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  ...;
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  ...;
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  ...;
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  ...;
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
